@charset "UTF-8";

:root{
    --manha: (#f1c474);
    --tarde: (#ac852b);
    --noite: (#43334e);
}

body{
    background-color: darkcyan;
    font: normal 15pt arial;
    text-align: center;
}
body h1{
    font-variant: small-caps;
}

header{
    color: white;
   
}
div{
    text-align: center;
    padding: 10px;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);

}
footer{
    color: white;
    font-style: italic;
}
footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}